.summary {
  text-align: center;
  max-width: 45rem;
  width: 90%;
  margin: auto;
  margin-top: -10rem;
  position: relative;
  background-color: yellow;
  color: #383838;
  border-radius: 40px;
  padding: 2rem 4rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.3);
}

.summary h2 {
  font-size: 2.5rem;
  margin-top: 0;
  font-weight: 700;
  word-spacing: 2px;
}

.summary p {
  font-weight: 200;
}

.summary h3 {
  text-shadow: 1px 1px black;
  font-weight: 400;
}
